<div class="mppt-container-grid">
    <div>
        <div class ="subheader">Unit 0</div>
        <div class = "grid-container">
            <div class="flex-column text">
            <ng-template #elseBlock><img class="circle-items" src="../../../assets/RedCircle.png" alt="Red Circle"></ng-template>
                <div class="subheader">
                    <div class="text">Channel 0</div>
                        <div class="heartbeat-group">
                            <span *ngIf="mppt[0].alive; else elseBlock"><img class="circle-items" src="../../../assets/GreenCircle.png" alt="Green Circle" ></span>
                            <span class="heartbeat-text">Heartbeat </span>
                        </div>
                </div>
                <div>
                    <div class="item">Array Voltage</div>
                    <div class="data">{{mppt[0].arrayVoltage}}</div>
                </div>
                <div>
                    <div class="item">Array Current</div>
                    <div class="data">{{mppt[0].arrayCurrent}}</div>
                </div>
                <div>
                    <div class="item">Battery Voltage</div>
                    <div class="data">{{mppt[0].batteryVoltage}}</div>
                </div>
                <div>
                    <div class="item">Temperature</div>
                    <div class="data">{{mppt[0].temperature}}</div>
                </div>
            </div>
            <div class="flex-column text">
            <ng-template #elseBlock><img class="circle-items" src="../../../assets/RedCircle.png" alt="Red Circle"></ng-template>
                <div class="subheader">
                    <div class="text">Channel 1</div>
                        <div class="heartbeat-group">
                            <span *ngIf="mppt[1].live; else elseBlock"><img class="circle-items" src="../../../assets/GreenCircle.png" alt="Green Circle" ></span>
                            <span class="heartbeat-text">Heartbeat </span>
                        </div>
                    </div>
                <div>
                    <div class="item">Array Voltage</div>
                    <div class="data">{{mppt[1].arrayVoltage}}</div>
                </div>
                <div>
                    <div class="item">Array Current</div>
                    <div class="data">{{mppt[1].arrayCurrent}}</div>
                </div>
                <div>
                    <div class="item">Battery Voltage</div>
                    <div class="data">{{mppt[1].batteryVoltage}}</div>
                </div>
                <div>
                    <div class="item">Temperature</div>
                    <div class="data">{{mppt[1].temperature}}</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class ="subheader">Unit 1</div>
        <div class = "grid-container">
            <div class="flex-column text">
            <ng-template #elseBlock><img class="circle-items" src="../../../assets/RedCircle.png" alt="Red Circle"></ng-template>
                <div class="subheader">
                    <div class="text">Channel 0</div>
                        <div class="heartbeat-group">
                            <span *ngIf="mppt[2].alive; else elseBlock"><img class="circle-items" src="../../../assets/GreenCircle.png" alt="Green Circle" ></span>
                            <span class="heartbeat-text">Heartbeat </span>
                        </div>
                    </div>
                <div>
                    <div class="item">Array Voltage</div>
                    <div class="data">{{mppt[2].arrayVoltage}}</div>
                </div>
                <div>
                    <div class="item">Array Current</div>
                    <div class="data">{{mppt[2].arrayCurrent}}</div>
                </div>
                <div>
                    <div class="item">Battery Voltage</div>
                    <div class="data">{{mppt[2].batteryVoltage}}</div>
                </div>
                <div>
                    <div class="item">Temperature</div>
                    <div class="data">{{mppt[2].temperature}}</div>
                </div>
            </div>
            <div class="flex-column text">
            <ng-template #elseBlock><img class="circle-items" src="../../../assets/RedCircle.png" alt="Red Circle"></ng-template>
                <div class="subheader">
                    <div class="text">Channel 1</div>
                        <div class="heartbeat-group">
                            <span *ngIf="mppt[3].alive; else elseBlock"><img class="circle-items" src="../../../assets/GreenCircle.png" alt="Green Circle" ></span>
                            <span class="heartbeat-text">Heartbeat </span>
                        </div>
                    </div>
                <div>
                    <div class="item">Array Voltage</div>
                    <div class="data">{{mppt[3].arrayVoltage}}</div>
                </div>
                <div>
                    <div class="item">Array Current</div>
                    <div class="data">{{mppt[3].arrayCurrent}}</div>
                </div>
                <div>
                    <div class="item">Battery Voltage</div>
                    <div class="data">{{mppt[3].batteryVoltage}}</div>
                </div>
                <div>
                    <div class="item">Temperature</div>
                    <div class="data">{{mppt[3].temperature}}</div>
                </div>
            </div>
        </div>
    </div>
</div>