<div class="header"></div>
<div class="battery-container-grid">
	<div>
        <div class ="subheader"><strong>Unit 0</strong></div>
        <div class = "grid-container">
            <div class ="subheader">Channel 0
                <div class="heartbeat-group">
                    <span class="heartbeat-text">Heartbeat
                        <img alt="Green Circle" class="circle-items" src="../../../assets/GreenCircle.png">
                    </span>
                </div>
            </div>
            <div class ="subheader">Channel 1
                <div class="heartbeat-group">
                    <span class="heartbeat-text">Heartbeat
                        <img alt="Green Circle" class="circle-items" src="../../../assets/GreenCircle.png">
                    </span>
                </div>
            </div>
            <div class="item">
                Array Voltage
                <div class="underline data">0 V</div>
            </div>
            <div class="item">
                Array Voltage
                <div class="underline data">0 V</div>
            </div>
            <div class="item">
                Array Current
                <div class="underline data">0 A</div>
            </div>
            <div class="item">
                Array Current
                <div class="underline data">0 A</div>
            </div>
            <div class="item">
                Battery Voltage
                <div class="underline data">0 V</div>
            </div>
            <div class="item">
                Battery Voltage
                <div class="underline data">0 V</div>
            </div>
            <div class="item">
                Temperature
                <div class="underline data">0 ˚C</div>
            </div>
            <div class="item">
                Temperature
                <div class="underline data">0 ˚C</div>
            </div>
        </div>
	</div>
    <div>
        <div class ="subheader"><strong>Unit 1</strong></div>
        <div class="grid-container dataset">
            <div class ="subheader">Channel 0
                <div class="heartbeat-group">
                    <span class="heartbeat-text">Heartbeat
                        <img alt="Green Circle" class="circle-items" src="../../../assets/GreenCircle.png">
                    </span>
                </div>  
            </div>
            <div class ="subheader">Channel 1
                <div class="heartbeat-group">
                    <span class="heartbeat-text">Heartbeat
                        <img alt="Green Circle" class="circle-items" src="../../../assets/GreenCircle.png">
                    </span>
                </div>
            </div>
            <div class="item">
                    Array Voltage
                    <div class="data">0 V</div>
            </div>
            <div class="item">
                Array Voltage
                    <div class="data">0 V</div>
            </div>
            <div class="item">
                Array Current
                <div class="data">0 A</div>
            </div>
            <div class="item">
                Array Current
                <div class="data">0 A</div>
            </div>
            <div class="item">
                Battery Voltage
                <div class="data">0 V</div>
            </div>
            <div class="item">
                Battery Voltage
                    <div class="data">0 V</div>
            </div>
            <div class="item">
                Temperature
                <div class="data">0 ˚C</div>
            </div>
            <div class="item">
                Temperature
                <div class="data">0 ˚C</div>
            </div>
        </div>
    </div>
</div>
